<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.com"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    Hello Everybody!
    <hr>

    User: <span sec:authentication="principal.username"></span>
    Roles: <span sec:authentication="principal.authorities"></span>
    <hr>

    <!-- I create div to make hr also disappear -->
    <div sec:authorize="hasAnyRole('MANAGER', 'ADMIN')">
        <a th:href="@{/leaders}">Leaders</a>
        <hr>
    </div>

    <div sec:authorize="hasAnyRole('ADMIN')">
        <a th:href="@{/systems}">Systems</a>
        <hr>
    </div>

    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout">
    </form>
</body>
</html>