<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Submission</title>
</head>
<body>
    First Name: <span th:text="${student.firstName}"></span>
    <br><br>
    Last Name: <span th:text="${student.lastName}"></span>
    <br><br>
    Country: <span th:text="${student.country}"></span>
    <br><br>
    Programming Language: <span th:text="${student.favLang}"></span>
    <br><br>
    Operating Systems:
    <ul>
        <li th:each="tempOS : ${student.favOS}" th:text="${tempOS}"/>
    </ul>
</body>
</html>